@font-face {
  font-family: 'Dominica'; /*a name to be used later*/
  src: url('dominica.ttf'); /*URL to font*/
}

body {
  background-color: #9ea637;
  font-family: Dominica;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
}

.container div {
  aspect-ratio: 1;
  width: 17vw;
  height: 17vw;
  border: 2px solid #9ea637;
}

.selected img{
  width: 90%;
  height: 90%;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

img {
  width: 100%;
  height: 100%;
}

.choice {
  border-color: crimson !important;
}