@font-face {
    font-family: 'Dominica'; /*a name to be used later*/
    src: url('dominica.ttf'); /*URL to font*/
}

body { 
    margin: 0px;
    font-family: Cabin,sans-serif;
    font-size: 16px;
}

/* scoresheet table style */

@media screen and (max-width: 375px) {
    .table_div {
        padding: 5px;
    }
   
    table.scoresheet {
        table-layout:fixed; width:345px;
    }

    table.scoresheet tr:nth-child(1) td {
        font-size: 65%;
    }

    table.scoresheet tr td {
        font-size: 80%;
    }
}

@media screen and (min-width: 375px) {
    .table_div {
        padding: 10px;
    }

    table.scoresheet {
        table-layout:fixed; width:355px;
    }

    table.scoresheet tr td:nth-child(1) {
        font-size: 75%;
    }
    
}

table.scoresheet {
    border: 2px solid black;
    border-collapse:collapse;
    color: black;
    margin: 0 auto;
}

table.scoresheet caption,
table.scoresheet tr:nth-child(1) {
    font-family: Dominica;
}

table.scoresheet tr:nth-child(odd) {
    background-color: white;
}

table.scoresheet tr:nth-child(even) {
    background-color: lightgray;
}


table.scoresheet tr td {
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    text-align: right;
}

table.scoresheet tr td:nth-child(1) {
    font-family: Dominica;
    border-right: 2px solid black;
    width: 100px;
}

table.scoresheet tr:nth-child(1) td:nth-child(1),
table.scoresheet tr:last-child td:nth-child(1) {
    background-color: black;
    color: white;
    font-size: 100%;
}

table.scoresheet tr:nth-child(1) td {
    font-size: 75%;
}

table.scoresheet tr:nth-child(1) td,
table.scoresheet tr:nth-child(15) td  {
    border-bottom: 2px solid black;
}

table.scoresheet tr:nth-child(3) td,
table.scoresheet tr:nth-child(5) td,
table.scoresheet tr:nth-child(8) td,
table.scoresheet tr:nth-child(10) td,
table.scoresheet tr:nth-child(12) td,
table.scoresheet tr:nth-child(13) td  {
    border-bottom: 1px solid black;
}

table.scoresheet tr td.winner  {
    font-weight: bold;
}

/* navbar style */
.header {
    position: fixed;
    z-index: 1;

    height: 8vh;
    width: 100vw;

    display: flex;
    flex-flow: column;
    justify-content: center;

    background-color: #000102;
}

.header ul {
    height: 100%;

    display: flex;
    flex-flow: row;

    margin: 0;
    padding: 0;
    
    overflow: auto;

    list-style-type: none;
}

.header li {
    height: 100%;
}

.header li a {    
    height: 100%;

    display: flex;
    align-items: center;
    
    padding: 0px 16px;
    
    color: white;
    text-decoration: none;
}    

.header li a:hover {
    color: rgb(172, 172, 172);
}

/* flex layout style */

.filter {
    position:fixed; 

    overflow: auto;

    padding-top: 8vh;

    color: white;
    background-color: #000102;
}

.content{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
} 


/* filter toolbar style */
.filter span {
    margin: 2px;
}

@media screen and (max-width: 600px) {
    .filter {
        z-index: 0;
        height: 15vh;
        width: 100vw;
    }


    .content{
        z-index: -1;
        width:100vw; 
        float: right;
        margin-top: 23vh;
    } 
    
    .filter * {
        padding: 2px;
    }

    .filter .section {
        display: inline;
    }
}

@media screen and (min-width: 600px) {
    .filter {
        z-index: -1;
        height: 100vh;
        min-width: 15vw;
        max-width: 25vw;
    }
    
    .content{
        z-index: 0;
        max-width:75vw; 
        float: right;
        margin-top: 8vh;
    } 

    .filter * {
        padding: 4px;
    }

    .filter .section {
        display: flex;
        flex-flow: column;
        flex-grow: 1;
    }

    #player_select {
        height: 8em;
    }
}